.background-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(29, 100, 48);
  width: 100%;
  border-radius: 12px;
}

.item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0px;
}

.item-div select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  color: black;
}

.item-div button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.item-div button:hover {
  background-color: #16a34a;
}

.item-form {
  margin: 0;
  padding: 0;
}

.item-title {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 20px
}